<nav class="header" *ngIf="($user|async)?.usuario">
    <div>
        <img class="logo" src="../assets/img/aws-logo.png" />
    </div>
    <div>
        <button mat-icon-button [matMenuTriggerFor]="menu">
            <mat-icon svgIcon="account"></mat-icon>
        </button>
        <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="onLogout()">
                <span> Cerrar sesión</span>
            </button>
        </mat-menu>
    </div>
</nav>
<router-outlet></router-outlet>