.container-controls{
    display: flex;
    flex-direction: column;
    align-self: center;
    padding: 20px;
    width: 500px;
}

.container{
  display: flex;
  box-sizing: border-box;
  justify-content: center;
  align-self: center;
  height: 100%;
}
.example-radio-group {
    display: flex;
    flex-direction: row;
    padding: 15px 0px;
  }
  
  .example-radio-button {
    margin: 5px;
  }
  
  .example-selected-value {
    margin: 15px 0;
  }

  h1{
    font-size: 30px;
    font-weight: initial;
    color: #909090;
  }